# .gitignore
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

composer.lock
tmp/*
dev/*
vendor/*
bin/html5-quick-template.html.php
bin/markdown-extended
bin/markdown-extended.man
bin/markdown-extended-documentation.man
bin/php-quick-lib.php

# hack
!.gitkeep
